!!!
%html
  %head
    %title nosequel
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "stylesheet", :href => stylesheet('default.css'), :type => "text/css",  :charset => "utf-8" }

  %body
    = yield